<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.storecamera.storecamera_photo">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission
      android:name="android.permission.READ_EXTERNAL_STORAGE"
      android:maxSdkVersion="33" />
</manifest>
